<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CABA Consulting</title>
        <link rel="stylesheet" href="../styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>
    <header class="main-header">
        <div class="container header-background">
            <h1>CABA Consulting</h1>
        </div>
    </header>   
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">
                <img src="../img/LOGOCABA.svg" alt="CABA Consulting Logo" class="logo-img">
            </a>
            <div class="menu-icon" id="menu-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="#services" class="nav-link">SERVICIOS</a></li>
                <li class="nav-item"><a href="#faq" class="nav-link">PREGUNTAS FRECUENTES</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">CONTACTO</a></li>
            </ul>
        </div>
    </nav>
<!-- Sección de Quiénes Somos -->
<section id="about-us">
    <div class="section-content">
        <h2 class="section-title">Quiénes Somos</h2>
        <p class="section-paragraph">En CABA Consulting, somos un equipo de profesionales altamente calificados dedicados a proporcionar soluciones integrales para el sector agrícola y químico en Paraguay. Con una amplia experiencia en la gestión de registros de productos agrícolas, fertilizantes y regencias químicas, ofrecemos asesoramiento experto y un acompañamiento completo en todos los procesos necesarios para garantizar el éxito de tus proyectos. Además, facilitamos la habilitación de tu empresa ante el SENAVE y ofrecemos servicios de hosting especializados para empresas que buscan expandirse en el país sin necesidad de una presencia física. Nuestro compromiso es brindarte el mejor servicio, adaptándonos a tus necesidades y superando tus expectativas.</p>
    </div>
</section>


    <div class="container">
        <section id="services">
            <h2 class="service-title">Nuestros Servicios</h2>
            <div class="services">
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">                   
                    <img src="../img/servicio_registro_productos_agricolas.jfif" alt="Productos agrícolas" width="200" height="200" class="rounded-image">
                    <h3>Registro de Productos Agrícolas</h3>
                    <p>Fitosanitarios, materia prima, biológicos, coadyuvantes y más.</p>
                </div>
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">
                    <img src="../img/fertilizantes2.jpg" alt="Fertilizantes" width="200" height="200" class="rounded-image">
                    <h3>Registro de Fertilizantes</h3>
                    <p>Aseguramos el correcto registro de sus fertilizantes.</p>
                </div>
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">
                    <img src="../img/regencia_servicio.jpg" alt="Regencia Química" width="200" height="200" class="rounded-image">
                    <h3>Regencia Química</h3>
                    <p>Asesoramiento y gestión en regencia química.</p>
                </div>
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">
                    <img src="../img/asesoramiento_servicio.jpg" alt="Asesoramiento" width="200" height="200" class="rounded-image">
                    <h3>Asesoramientos</h3>
                    <p>Brindamos asesoramiento experto en diversos ámbitos agrícolas.</p>
                </div>
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">
                    <img src="../img/imagen_habilitacion.jpg" alt="Habilitación" width="200" height="200" class="rounded-image">
                    <h3>Habilitación ante SENAVE</h3>
                    <p>Facilitamos el proceso de habilitación de su entidad ante SENAVE.</p>
                </div>
                <div class="service-item" onclick="window.open('servicio.html', '_blank')">
                    <img src="../img/imagen_hosting.jfif" alt="Servicio de hosting" width="200" height="200" class="rounded-image">
                    <h3>Servicio de Hosting para Empresas</h3>
                    <p>Ofrecemos hosting para empresas no instaladas en el país - SENAVE.</p>
                </div>
            </div>
        </section>

        <section id="faq" class="faq-section">
            <h2>Preguntas Frecuentes</h2>
            <div class="faq-div">
                <div class="faq-item">
                    <div class="faq-question">¿Qué tipo de productos agrícolas pueden registrarse?</div>
                    <div class="faq-answer">En CABA Consulting podemos ayudarte con el registro de una amplia gama de productos agrícolas, incluyendo fitosanitarios, materias primas, productos biológicos, coadyuvantes y más. Nuestro equipo de expertos te guiará a través de todo el proceso.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">¿Cuánto tiempo toma el proceso de registro de un producto?</div>
                    <div class="faq-answer">El tiempo de registro puede variar dependiendo del tipo de producto y la complejidad del proceso. En general, puede tomar entre 3 a 6 meses. Sin embargo, nuestro equipo trabaja diligentemente para agilizar el proceso lo más posible.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">¿Qué es la Regencia Química y por qué es importante?</div>
                    <div class="faq-answer">La Regencia Química es un servicio profesional que garantiza el manejo adecuado y seguro de productos químicos en una empresa. Es importante porque asegura el cumplimiento de las normativas legales y técnicas, reduciendo riesgos y mejorando la eficiencia en el manejo de estos productos.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">¿Cómo puedo iniciar el proceso de habilitación ante SENAVE?</div>
                    <div class="faq-answer">Para iniciar el proceso de habilitación ante SENAVE, puedes contactarnos directamente. Nuestro equipo te guiará paso a paso, desde la recopilación de documentos necesarios hasta la presentación final ante la autoridad competente.</div>
                </div>
                <div class="faq-item">
                    <div class="faq-question">¿Qué ventajas ofrece el servicio de hosting para empresas no instaladas en el país?</div>
                    <div class="faq-answer">Nuestro servicio de hosting ofrece una solución integral para empresas que desean operar en el país sin necesidad de establecer una presencia física. Esto incluye representación legal, manejo de trámites y cumplimiento de regulaciones locales, permitiéndote expandir tu negocio de manera eficiente y económica.</div>
                </div>
            </div>
        </section>
<!-- Sección de Visión -->
<section id="vision">
    <div class="section-content">
        <h2 class="section-title">Visión</h2>
        <p class="section-paragraph">Nuestra visión en CABA Consulting es ser la empresa líder en asesoramiento y gestión en el sector agrícola y químico en Paraguay, reconocida por nuestra excelencia en el servicio, innovación y compromiso con el desarrollo sostenible. Aspiramos a ser el socio estratégico preferido por las empresas que buscan cumplir con las normativas y expandir sus operaciones de manera eficiente y segura, contribuyendo al crecimiento del sector agrícola y químico en el país.</p>
    </div>
</section>

<!-- Sección de Valores -->
<section id="values">
    <div class="section-content">
        <h2 class="section-title">Valores</h2>
        <ul class="section-list">
            <li>Integridad: Actuamos con transparencia y ética...</li>
            <li>Excelencia: Nos esforzamos por ofrecer un servicio de calidad superior...</li>
            <li>Innovación: Nos mantenemos a la vanguardia de las mejores prácticas y tecnologías...</li>
            <li>Compromiso: Estamos dedicados al éxito de nuestros clientes...</li>
            <li>Sostenibilidad: Valoramos y promovemos prácticas que contribuyan al desarrollo sostenible...</li>
        </ul>
    </div>
</section>

<section id="mision">
    <div class="section-content">
        <h2 class="section-title">Misión</h2>
        <p class="section-paragraph">En CABA Consulting, nuestra misión es proporcionar soluciones integrales y de alta calidad que faciliten el cumplimiento normativo y el crecimiento sostenible de las empresas en el sector agrícola y químico en Paraguay. Nos comprometemos a guiar a nuestros clientes a través de cada paso del proceso de registro, habilitación y asesoramiento, garantizando que sus productos y operaciones cumplan con las regulaciones vigentes. Con un enfoque en la innovación, la ética y la excelencia, trabajamos para asegurar que nuestros clientes puedan operar con confianza, contribuyendo al desarrollo del sector y protegiendo el medio ambiente y la salud pública.</p>
    </div>
</section>
        <section id="contact">
            <div class="form-content">
                <h2>Contacto</h2>
                <form action="https://formsubmit.co/ilovera@fiuna.edu.py" method="POST">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" placeholder="Nombre" required id="name">

                    <label for="email"> Email</label>
                    <input type="email" name="email" placeholder="Correo Electrónico" required id="email">

                    <label for="message"> Mensaje</label>
                    <textarea name="message" placeholder="Mensaje" required id="message"></textarea>
                    <button type="submit">Enviar</button>
                    <!--<input type="hidden" name="_next" value=""> --> 
                </form>
            </div>
        </section>
    </div>

    <a href="https://web.whatsapp.com/send?phone=595972542357" class="whatsapp-button" target="_blank">
        <img src="../img/whatsapp-logo.svg" alt="Contactar por WhatsApp" width="60" height="60">
    </a>

 <!-- Footer -->
 <footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="https://www.facebook.com" target="_blank">
                <img src="../img/facebook-logo-svg.svg" alt="Facebook Logo" class="social-logo">
            </a>
        </div>
        <div class="footer-contact">
            <a href="mailto:info@cabaconsulting.com" class="footer-email">info@cabaconsulting.com</a>
        </div>
    </div>
</footer>
    <script src="../scripts/script.js"></script>

</body>
</html>